{% extends 'main/base.html' %}

{% block title %}
Services
{% endblock %}

{% block content %}

<h2>Послуги</h2>


<form method="get">

<input type="text"
name="q"
placeholder="Пошук">

<button class="btn btn-primary">
Search
</button>

</form>


<p>

Знайдено:

{{ services|length }}

послуг{{ services|length|pluralize }}

</p>

<p>

Дата:

{{ date|date:"d-m-Y" }}

</p>


<ul class="list-group">

{% for service in services|slice:":3" %}

<li class="list-group-item">

{{ service.name|upper }}

-

{{ service.description|lower }}

</li>

{% endfor %}

</ul>


{% endblock %}